<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="testService" class="com.jpj.service.impl.TestServiceImpl">
        <replaced-method name="testMethod" replacer="methodReplaceBean" />
    </bean>
    <bean id="user" class="com.jpj.beans.User"/>
    <bean id="testBean" class="com.jpj.beans.AbstractTestBean">
        <lookup-method name="resString" bean="stringBean" />
    </bean>
</beans>